<div class="call">
  <div class="call-box-top">
    {{ if .site.Data.contact.phone }}
        <div class="call-phone"><strong>Prenota ora la tua visita</strong><br> e prenditi cura della tua salute.
          
        </div>
    {{ end }}
  </div>
    {{ if eq .show_button "true" }}
      <div class="call-box-bottom">
        <a href="tel:{{ .site.Data.contact.phonestudio }}" class="button"> <img src="/images/icon/telephone-fill.svg" alt="Chiama adesso!" width="18" height="18"> Chiama adesso!</a>
      </div>
    {{ end }}
</div>
