{{ $currentPage := . }}
{{ $pages := where .Site.RegularPages "Section" "servizi" }}
<br><br><div class="list-group">
    <h3><a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Scopi gli altri servi
    </a></h3>
        {{ range $pages }}
            {{ $isActive := eq .RelPermalink $currentPage.RelPermalink }}
            {{ if not $isActive }}
                <h4><a class="list-group-item list-group-item-action" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            {{ end }}
        {{ end }}
   
</div>
